

<div class="flex flex-space-between">
    <div>
        <img class="icon" src="/images/telephone.png" alt="Phone icon">
    </div>
    <div>
        <img class="icon" src="/images/instagram.png" alt="Instagram icon">
    </div>
    <div>
        <img class="icon" src="/images/email.png" alt="Email icon">
    </div>
</div>