
<div>
    <img src="/images/search-icon.png" alt="Search Icon">
</div>

<div>
    <svg height="50px" width="50px">
        <line x1="0" y1="0" x2="50" y2="0" style="stroke:black;stroke-width:5px"></line>
        <line x1="0" y1="25" x2="50" y2="25" style="stroke:black;stroke-width:2.5px"></line>
        <line x1="0" y1="50" x2="50" y2="50" style="stroke:black;stroke-width:5px"></line>
    </svg>
</div>