// Variables
$header-backgroundcolor: rgb(173, 216, 230);
$carousel_image-maxwidth: 80vw;
$icon_max-width: 8vw;
$boxshadow-color: rgb(231,233,235);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat:wght@100&display=swap');

// Set box-sizing
*{
    box-sizing: border-box;
}

// Flexbox Classes
.flex{
    display: flex;
}
.flex_space-between{
    justify-content: space-between;
}
.flex_center{
    justify-content: center;
}

.icon{
    max-width: $icon_max-width;
}

/*** Header ***/
header{
    padding: 2vw;
    background-color: $header-backgroundcolor;
    box-shadow: 0px 5px 5px $boxshadow-color;
    margin-bottom: 2vw;
    position: fixed;
    top: 0vh;
    opacity: .9;
    width: 100vw;
}

// Title
.title-container{
    padding-top: 8vh;
}
h1{
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 1vw;
    text-align: center;
    margin-bottom: 0;
}
h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4vw;
    text-align: center;
}


// Search icon
.searchicon{
    width: 90%;
    // max-width: 10vw;
}

/*** HOME PAGE ***/
.carousel-container{
    box-shadow: 0 5px 5px $boxshadow-color, 0 -5px 5px $boxshadow-color, 5px 0 5px $boxshadow-color, -5px 0 5px $boxshadow-color;
    max-width: 80vw;
    max-height: 60vh;
    margin: 2vw auto;
}
.carousel_image{
    max-width: 80vw;
    max-height: 60vh;
}
.home-info_container{
    padding: 0 5vw 60px 5vw;
}
.home-info_heading{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}
.home-info_span{
    font-family: 'Montserrat', sans-serif;
}


/*** Footer ***/
footer{
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    padding: 2vw;
    background-color: $header-backgroundcolor;
    box-shadow: 0px -5px 5px $boxshadow-color;
    opacity: .9;
}


