<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <title>Add Items</title>
</head>
<body>
    <header class="flex flex_space-between">
        <%- include ("../partials/header.ejs") %>
    </header>
    <div class="title-container">
        <h1>GemHunter</h1>
        <h3>DESIGNS</h3>
    </div>

    <button id="testDb">Insert</button>


    <footer>
        <%- include ("../partials/footer.ejs") %>
    </footer>

    <!-- <script src="/js/addItems.js"></script> -->
</body>
</html>