<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <title>GemHunter Designs - Bracelets</title>
</head>
<body>
    <header class="flex flex-space-between">
        <%- include ("../partials/header.ejs") %>
    </header>
    <div class="title-container">
        <h1>GemHunter</h1>
        <h3>DESIGNS</h3>
    </div>

    <h2>Earrings page under construction</h2>
    
</body>
</html>