<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="flexbox.css">
</head>
<body>
    <div class="product-container flex flex-wrap flex-space-between">
        <div class="product-displayed">
            <div class="flex flex-center image-container">
                <div class="image"></div>
            </div>
            <div class="desc">
                <p>This is a description</p>
            </div>
            <div class="flex">
                <div class="price">50</div>
                <span>-</span>
                <div class="length">18</div>
            </div>
        </div>
        
        <div class="product-displayed">
            <div class="flex flex-center image-container">
                <div class="image"></div>
            </div>
            <div class="desc">
                <p>This is a description that could sometimes be a little long</p>
            </div>
            <div class="flex">
                <div class="price">50</div>
                <span>-</span>
                <div class="length">18</div>
            </div>
        </div>

        <div class="product-displayed">
            <div class="flex flex-center image-container">
                <div class="image"></div>
            </div>
            <div class="desc">
                <p>This is a description that could sometimes be a little long</p>
            </div>
            <div class="flex">
                <div class="price">50</div>
                <span>-</span>
                <div class="length">18</div>
            </div>
        </div>
    
        
    </div>
    
</body>
</html>