<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <title>Gemhunter Designs</title>
</head>
<body>
    <header class="flex flex-space-between">
        <%- include ("../partials/header.ejs") %>
    </header>
    <div class="title-container">
        <h1>GemHunter</h1>
        <h3>DESIGNS</h3>
    </div>
    

    <!-- Carousel -->
    <div class="carousel-container flex flex-center">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>
        
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="flex flex_center">
                        <img src="/images/blue-rb.png" alt="Los Angeles" class="d-block carousel_image">
                    </div>
                    
                </div>
                <div class="carousel-item">
                    <div class="flex flex_center">
                        <img src="/images/red-rb.png" alt="Chicago" class="d-block carousel_image">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex flex_center">
                        <img src="/images/gold-rb.png" alt="New York" class="d-block carousel_image">
                    </div>
                </div>
            </div>
        
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>

    <div class="home-info_container">
        <h2 class="home-info_heading">Handcrafted</h2>
        <div class="home-info_links-container flex flex-space-between">
            <a id="bracelets-link" class="home-info_item">Bracelets</a>
            <a id="necklaces-link" class="home-info_item">NECKLACES</a>
            <a id="earrings-link" class="home-info_item">Earrings</a>
        </div>
    </div>
    

    <!-- <footer>
         include ("../partials/footer.ejs") %>
    </footer> -->

    <script src="/js/home_view.js"></script>
</body>
</html>