<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <title>Add Items</title>
</head>
<body>
    <header class="flex flex_space-between">
        <%- include ("../partials/header.ejs") %>
    </header>
    <div class="title-container">
        <h1>GemHunter</h1>
        <h3>DESIGNS</h3>
    </div>

    <form action="/manageProduct/insertNecklace" method="GET">
        <label for="description" class="form-label">Product Description</label>
        
        <textarea name="description" class="form-control" id="description" cols="30" rows="10" placeholder="Enter a short description here..."></textarea>
        
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price">
       
        <label for="length" class="form-label">Length</label>
        <input type="number" class="form-control" id="length" name="length">

        <button type="submit">Add Necklace</button>
    </form>


    <footer>
        <%- include ("../partials/footer.ejs") %>
    </footer>

    <!-- <script src="/js/addItems.js"></script> -->
</body>
</html>