<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GemHunter Designs - Necklaces</title>
</head>
<body>
    <div id="allNecklaces">
        <ul>
            <% results.forEach(function(r) { %>
                <li><%= r.id %> - <%= r.name %></li>
            <% }); %>
        </ul>
    </div>
    

    <script src="main.js"></script>
</body>
</html>